.book-manage-input {
    /*margin-top: 10px;*/
    margin-bottom: 40px;
    width: 80%;
}

.book-manage-main-container {
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*justify-items: center;*/
    /*align-content: space-around;*/
    /*flex-direction: column;*/
}